{% extends "layout.html" %}
{% block content %}
<div class="container">
    <a href="{{url_for('get_categories')}}"><img src="static/images/back.png" alt="Back" title="Back" style="height: 25px; width: 25px; border: 2px solid #555;"></a>
    <div style="font-size: 30px; text-align: center; text-transform: uppercase;" >{{products_list[0].category}}</div>
        <table>
            <tbody>
            <tr>
                {% for product in products_list %}
                <td  class="col-sm-4" style="display: inline-block; height: 400px; width: 250px; margin-left: 50px; margin-right: 50px; margin-top: 50px; margin-bottom: 50px;">
                    <div>
                        <div class="card" style="display: inline-block; height: 300px; width: 250px; margin-bottom: 30px;">
                            <div class="card-header">
                                <center><h5 class="card-title">{{ product.prod_name}}</h5></center>
                            </div>
                            <form action="\addcart" method="GET">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <center>
                                            <li class="list-group-item" style="display: None;">Product ID - {{ product.prod_id }}</li>
                                            <input name="prod_id" value="{{ product.prod_id }}" style="display:none;">
                                        </center>
                                        <center>
                                            <li class="list-group-item">Product Name - {{ product.prod_name }}</li>
                                        </center>
                                        <center>
                                            <li class="list-group-item">Price - {{ product.prod_price }}</li>
                                        </center>
                                        <center>
                                            <li class="list-group-item">Seller Name - {{ product.prod_seller}}</li>
                                        </center>
                                        <center>
                                            <li class="list-group-item" style="display: None;">Quantity - {{ product.prod_quantity}}</li>
                                        </center>
                                        <div class="form-group">
                                            <input type="number" name="desired_quantity" class="form-control" placeholder="Desired Quantity">
                                        </div>
                                    </ul>
                                </div>
                                <div class="card-footer" style="text-align: center;">
                                    <button class="btn btn-primary" type="submit" onclick="showAlert()">
                                        Add cart
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>

</div>
<script>
    function showAlert() {
    debugger;
    alert('{{session['product_add_status']}}');
  }
</script>
{% endblock content %}


